<div class="form-group">
  Title: <input class="form-control" type="text" id="idea-title">
  Body: <input class="form-control" type="text" id="idea-body">
</div>
<input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save">
<h3>All the Ideas!</h3>
<div id="all-ideas">
<% @ideas.each do |idea| %>
  <div class="well idea" data-id="<%= idea.id %>" data-quality="<%= idea.quality %>">
    <h3>Title: <%= idea.title %></h3>
    <p><%= truncate(idea.body, length: 101, separator: ' ') %></p>
    <p id='quality'>Quality: <%= idea.quality %></p>
    <button id='delete-idea' class='btn btn-default btn-xs'>Delete</button>
    <button id='up-idea' class='btn btn-default btn-xs'><i class="fa fa-thumbs-o-up bigger" aria-hidden="true"></i></button>
    <button id='down-idea' class='btn btn-default btn-xs'><i class="fa fa-thumbs-o-down bigger" aria-hidden="true"></i></button>
  </div>
<% end %>
</div>
